<h2>Average Wait Times for <%= @crossing.title %> </h2>
<h4 id="title" data-id= <%= @crossing.id %> > <%= @crossing.location %> </h4>
</br>

<ul class="nav nav-tabs">
  <li class="active"><a href="#canada_bound" data-toggle="tab">Canada Bound</a></li>
  <li><a href="#usa_bound" data-toggle="tab">USA Bound</a></li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Canada Bound</h3>
  </div>
  <div class="panel-body">
    <%= content_tag :canvas, "", id: "crossing_usa_bound_chart" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">USA Bound</h3>
  </div>
  <div class="panel-body">
    <%= content_tag :canvas, "", id: "crossing_usa_bound_chart" %>
  </div>
</div>