<div class="row">
  <container class="col-md-8 col-md-offset-2">
    <h4> Select a Province... </h4>
    <div class="btn-group btn-group-justified">
      <% @provinces.each do |p| %>
        <div class="btn-group">
          <button type="button" class="btn btn-default province" data=<%= p %> >
            <%= p %>
          </button>
        </div>
      <% end %>
    </div>
  </container>
</div>


<div class="row">
  <container class="col-md-8 col-md-offset-2">
    <h4> Select a State... </h4>
    <div class="btn-group btn-group-justified">
      <% @states.each do |s| %>
        <div class="btn-group">
          <button type="button" class="btn btn-default state" data=<%= s %> >
            <%= s %>
          </button>
        </div>
      <% end %>
    </div>
  </container>
</div>


<div class="col-md-8 col-md-offset-2">
  <div id="crossings" class="list-group">

  </div>
</div>

<div class="row" id="chart-container"style="display: none;">
  <div class="col-md-8 col-md-offset-2" >
    <div class="title ">
      <h2 style="text-align:center" id="chart-title"></h2>
      <div class="col-md-2 col-md-offset-3 origin">
        <%= image_tag "United States.png", size: "80x80", id: "us_icon" %>
      </div>
      <div class="col-md-2">
        <%= image_tag "car_icon.png", size: "80x80" %>
      </div>
      <div class="col-md-2 destination">
        <%= image_tag "Canada.png", size: "80x80", id: "canada_icon"%>
      </div>
    </div>

    <svg class ="chart" id ="chart"> </svg>
    <p style="text-align:center">Time</p>
    <div class="btn-group" id='bound_button_container'>
      <button id = 'bound_button' type="button" class="btn btn-primary"> Reverse Direction
      </button>
    </div>
    <div id = "legend-container">
      <div class="average-color"></div>
      <p class="key-words"> Average </p>
      <!-- </br> -->
      <div class="recent-color"></div>
      <p class="key-words" id="legend-recent"> Today </p>
    </div>
    
  </div>
    <container class="col-md-8 col-md-offset-2">
      <div class="btn-group btn-group-justified ">
        <% (0..6).each do |index| %>
          <div class="btn-group">
            <% if index == Time.now.wday %>
              <button value=<%=index%> type="button" class="day_select btn btn-default active"><%= weekday(index) %></button>
            <% else %>
              <button value=<%=index%> type="button" class="day_select btn btn-default"><%= weekday(index) %></button>
            <% end %> 
          </div>
        <% end %> 
      </container>
  </div>



  <div>
    <div class="col-md-3"  style = "margin-left:0px; padding-left:0px;">
      
    </div>
    
  </div>
</div>