<div class="row">
  <container class="col-md-8 col-md-offset-2">
    <h4> Select a Province... </h4>
    <div class="btn-group btn-group-justified">
      <% @provinces.each do |p| %>
        <div class="btn-group">
          <button type="button" class="btn btn-default province" data=<%= p %> >
            <%= p %>
          </button>
        </div>
      <% end %>
    </div>
  </container>
</div>


<div class="row">
  <container class="col-md-8 col-md-offset-2">
    <h4> Select a State... </h4>
    <div class="btn-group btn-group-justified">
      <% @states.each do |s| %>
        <div class="btn-group">
          <button type="button" class="btn btn-default state" data=<%= s %> >
            <%= s %>
          </button>
        </div>
      <% end %>
    </div>
  </container>
</div>


<div class="col-md-8 col-md-offset-2">
  <div id="crossings" class="list-group">

  </div>
</div>

<div class="row" id="chart-container"style="display: none;">
  <div class="col-md-8 col-md-offset-2" >
    <div class="col-md-12" id="banner-container">
        <div class="col-md-6 banner origin" id="us_icon" data-can="url('assets/Canada_from.png')"
        data-us="url('assets/US_from.png')" style="background: url('assets/US_from.png'); background-size: 100% 100%; background-position: center;" >
          <h1 class="banner-label"> From </h1>
        </div> 
        <div class="col-md-6 banner destination" id="canada_icon" data-can="url('assets/Canada_to.png')" data-us="url('assets/US_to.png')" style="background: url('assets/Canada_to.png'); background-size: 100% 100%; background-position: center;" >
          <h1 class="banner-label"> To </h1>
        </div>

    </div>
    <svg class ="chart" id ="chart"> </svg>
    <p style="text-align:center">Time</p>
    <div class="btn-group" id='bound_button_container'>

    </div>
    <div id = "legend-container">
      <div class="average-color"></div>
      <p class="key-words"> Average </p>
      <!-- </br> -->
      <div class="recent-color"></div>
      <p class="key-words" id="legend-recent"> Today </p>
    </div>
    
  </div>
    <container class="col-md-8 col-md-offset-2">
      <div class="btn-group btn-group-justified ">
        <% (0..6).each do |index| %>
          <div class="btn-group">
            <% if index == Time.now.wday %>
              <button value=<%=index%> type="button" class="day_select btn btn-default active"><%= weekday(index) %></button>
            <% else %>
              <button value=<%=index%> type="button" class="day_select btn btn-default"><%= weekday(index) %></button>
            <% end %> 
          </div>
        <% end %> 
      </container>
  </div>



  <div>
    <div class="col-md-3"  style = "margin-left:0px; padding-left:0px;">
      
    </div>
    
  </div>
</div>