<!DOCTYPE html>
<html>
<head>
  <title>BorderTimes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "wrap">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "BorderTimes", root_path, :class => "navbar-brand"%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crossings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% Crossing.all.each do |crossing| %>
                  <li><%= link_to crossing.title, crossing_path(crossing.id) %></li>
                <%end%>
              </ul>
            </li>
          </ul>

          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <div class = "row" id="footer">
    <div class="container">
      <p class="credit muted">
      This website is based information provided by the Government of Canada. (  
      <a href ="http://travel.gc.ca/vt/dynamic/eng/border-times.aspx">  Canada Bound Source </a>,
      <a href ="http://travel.gc.ca/travelling/border-times-us">U.S. bound source</a> ) Data has been collected every hour since May 14, 2014. The full source code is available on <a href="https://github.com/AGarrow/border-delays">Github</a> 
      </p>
    </div>
  </div>
</body>
</html>
